<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ config.site_description }}" />
    <meta name="author" content="{{ config.site_author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {{ config.site_name }}{% if page.title %} - {{ page.title }}{% endif %}
    </title>

    <link rel="stylesheet" href="{{ base_url }}/css/custom.css" />
  </head>
  <body>
    {% include "components/header.html" %}

    <main class="content container">
      <article class="page">{{ page.content }}</article>
    </main>

    {% include "components/footer.html" %}
  </body>
</html>
