.admonition.menu-card {
  background-color: #e6f2e6;
  border: 0;
  color: #212121;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

.admonition.menu-card .admonition-title {
  color: white;
  background-color: #4caf50;
  font-weight: bold;
  font-size: 1.1rem;
}

.admonition.menu-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.admonition.menu-card .admonition-title::before {
  background-color: white;
}
